
/* Administration authentication
 * *****************************/

/* Administration controls 
 * ***********************/

body#ws-body {
	margin-top: 90px;
}

textarea {
	font: inherit;
}

#ws-admin-bar {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	padding: 6px;
	width: 100%;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	box-shadow: inset 0 -10px 12px -7px #D5D5D5;
}
#ws-admin-bar a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 6px 10px;
	border-right: 1px solid #ddd;
}
#ws-admin-bar a:hover {
	color: gray;
}

#ws-toolbar-field-name {
	color: gray;
}

#ws-save-field-btn {
	background-color: #C4F1C4;
	cursor: pointer;
}

/* /admin */

.ws-form {
	margin: 0 auto 0 auto;
	text-align: center;
}

.ws-pass {
	width: 6em;
}

.ws-h1 {
	text-align: center;
	margin-top: 10%;
}

.wysihtml5-toolbar {
	display: none;
}

.wysihtml5-dialog {
	position: absolute;
}

.wysihtml5-command-active, .wysihtml5-command-dialog-opened, .wysihtml5-action-active {
	background-color: #ccc;
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
}
.wysihtml5-command-active:hover, .wysihtml5-command-dialog-opened:hover {
	background-color: #999;
}

.wysihtml5-dialog {
	padding: 12px;
	border: 1px solid white;
	border-radius: 7px;
	top: 35px;
	right: 48px;
	color: white;
	background-color: #5c5c5c;
}
.wysihtml5-dialog a {
	cursor: pointer;
	margin-right: 6px;
}

/* New page creation
 * *****************/
.create-page {
	margin-top: 40px;
	text-align: center;
}

.create-page label {
	display: inline;
	font-size: 16px;
}

.create-page select, .create-page input {
	margin-bottom: 0;
}

#nonexistant {
	margin-top: 20px;
	text-align: center;
}

#creating-loading {
	margin-top: 20px;
}

/* Editable fields
 * ***************/

div.wabisabi-field, textarea.wabisabi-textarea {
	width: 100%;
	min-height: 100%;
}
textarea.wabisabi-textarea, textarea.wabisabi-textarea:focus {
	background-color: transparent;
	box-shadow: none;
	padding: 12px;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
}

iframe.wysihtml5-sandbox {
	min-height: 4em;
	border: 1px dashed #686868 !important;
	min-width: 100% !important;
}
