<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Old Stairwell 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130313

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Food Bank</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<p align="center">
			<img src="logo.png" height="100%" width="80%">
			</p>
		</div>
		<div id="menu">
			<ul>
				<li><a href="#" accesskey="1" title="">Home</a></li>
				<li><a href="#" accesskey="2" title="">Services</a></li>
				<li><a href="#" accesskey="2" title="">Support</a></li>
				<li><a href="#" accesskey="3" title="">Volunteer</a></li>
				<li><a href="#" accesskey="4" title="">About</a></li>
				<li><a href="#" accesskey="5" title="">Contact</a></li>
			</ul>
		</div>
		<div id="banner">
			<img src="banner2.jpg" width="100%">
		</div>
	</div>
	<div id="page">
		<div id="content">
			<h2>Food Bank Services</h2>
			<p><img src="foodshelf.jpg" width="750" height="250" alt="" /></p>
			<p>Please use the following form to contact us with your inquiries. We will respond as soon as possible!</p>
			<form name="htmlform" method="post" action="html_form_send.php">
<table width="450px">
</tr>
<tr>
 <td valign="top">
  <label for="first_name">First Name *</label>
 </td>
 <td valign="top">
  <input  type="text" name="first_name" maxlength="50" size="30">
 </td>
</tr>
 
<tr>
 <td valign="top"">
  <label for="last_name">Last Name *</label>
 </td>
 <td valign="top">
  <input  type="text" name="last_name" maxlength="50" size="30">
 </td>
</tr>
<tr>
 <td valign="top">
  <label for="email">Email Address *</label>
 </td>
 <td valign="top">
  <input  type="text" name="email" maxlength="80" size="30">
 </td>
 
</tr>
<tr>
 <td valign="top">
  <label for="telephone">Telephone Number</label>
 </td>
 <td valign="top">
  <input  type="text" name="telephone" maxlength="30" size="30">
 </td>
</tr>
<tr>
 <td valign="top">
  <label for="comments">Message *</label>
 </td>
 <td valign="top">
  <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
 </td>
 
</tr>
<tr>
 <td colspan="2" style="text-align:center">
  <input type="submit" value="Send Message">  
 </td>
</tr>
</table>
</form>
		</div>
		<div id="sidebar">
			<div id="tbox1">
				<ul class="style2">
					<li class="first">
						<p align="middle"><a href="#"><img src="donate.png"></a></p>
						<p></p>Your tax-deductible donation helps us put an end to hunger in Thurston County.</p>
					</li>
						
					<li>
						<h2>Hours of Operation</h2>
						<p><strong>Mon, Wed, Fri</strong> -- 11:00am to 3:00pm <br />
						<strong>2nd and 4th Wed</strong> -- 5:00pm to 7:00pm <br />
						<strong><a href="#">Other locations and times</a></strong></p>
					</li>
					<li>
						<h2>Foodbank Location</h2>
						<p>220 Thurston Ave NE, Olympia WA 98501 <br />
						<br />
							<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=220+Thurston+Ave+NE%3B+Olympia&amp;aq=&amp;sll=37.6,-95.665&amp;sspn=56.717625,49.921875&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=220+Thurston+Ave+NE,+Olympia,+Thurston,+Washington+98501&amp;ll=47.047669,-122.899761&amp;spn=0.011697,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=220+Thurston+Ave+NE%3B+Olympia&amp;aq=&amp;sll=37.6,-95.665&amp;sspn=56.717625,49.921875&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=220+Thurston+Ave+NE,+Olympia,+Thurston,+Washington+98501&amp;ll=47.047669,-122.899761&amp;spn=0.011697,0.025663&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
					</li>
					<li>
						<h2>Contact Information</h2>
						<p><strong>Phone:</strong> (360) 352-8597 <strong>Fax:</strong> (360) 352-7732 <br />
						   <strong>Email:</strong><a href="mailto:frontdesk@thurstoncountyfoodbank.org?subject=Mail from the Food Bank's Website">frontdesk@thurstoncountyfoodbank.org</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="three-column">
		<div id="tbox1">
			<h2>Mobile Food Banks</h2>
			<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
			<p><a href="#" class="button-style">Read More</a></p>
		</div>
		<div id="tbox2">
			<h2>Recent testimonials</h2>
			<ul class="style1">
				<li class="first"><a href="#">Pellentesque consectetuer gravida blandit.</a></li>
				<li><a href="#">Lorem consectetuer adipiscing elit.</a></li>
				<li><a href="#">Maecenas vitae vitae feugiat eleifend.</a></li>
			</ul>
			<p><a href="#" class="button-style">Read More</a></p>
		</div>
		<div id="tbox3">
			<h2>Social</h2>
			<ul class="style1">
				<li class="first"><a href="https://www.commitchange.com/wa/olympia/thurston-county-food-bank">CommitChange</a></li>
				<li><a href="https://www.facebook.com/pages/Thurston-County-Food-Bank/117459642602">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="http://www.yelp.com/biz/thurston-county-food-bank-olympia">Yelp</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<p>This website donated by <a href="http://commitchange.com">CommitChange</a>
		</div>
</div>
</body>
</html>
